{% extends "base_operation.html" %}

{% block extra_css %}{% include "teacher/_legacy_stack.html" %}{% endblock %}

{% block title %}
    Student Assessments
{% endblock %}

{% block content %}
    <h1>Student Assessments</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Assessment Name</th>
                <th>Category</th>
                <th>Subject</th>
                <th>Student</th>
                <th>Score</th>
                <th>Max Score</th> <!-- Added Max Score column -->
            </tr>
        </thead>
        <tbody>
            {% for detail in activity_details %}
                <tr>
                    <td>{{ detail.activity.activity_name }}</td>
                    <td>{{ detail.activity.activity_type.name }}</td>
                    <td>{{ detail.subject }}</td>
                    <td>{{ detail.student.first_name }} {{ detail.student.last_name }}</td>
                    <td>{{ detail.score }}</td>
                    <td>{{ detail.max_score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
