{% extends is_student_role|yesno:"student_base.html,base.html" %}
{% load static %}

{% block title %}
  Grade Essays and Documents for {{ activity.activity_name }}
{% endblock %}

{% block content %}
  <!-- Content Header (Page header) -->
  <div class="row mb-2">
    <div class="col-sm-6">
      <h3 class="m-0">Grade Essays and Documents for {{ activity.activity_name }}</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- /.content-header -->

  <!-- Main content -->
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form method="post" action="{% url 'grade_essays' activity.id %}" data-cl-loading data-cl-loading-label="Submitting…">
    {% csrf_token %}
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-success text-light d-flex justify-content-between align-items-center">
        <h5 class="m-0">Essay Submissions</h5>
      </div>
      <div class="card-body">
        <table class="table mb-0 data-table fs-10 essay-table">
          <thead class="text-center">
            <tr>
              <th>Student</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for d in submission_details %}
              <tr>
                <td>{{ d.student.first_name }} {{ d.student.last_name }}</td>
                <td>{{ d.activity_question.quiz_type.name }}</td>
                <td>
                  <a href="{% url 'grade_individual_essay' activity.id d.local_id %}" class="btn btn-sm btn-secondary">View Answer</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Back Button -->
    <div>
      <a href="{% url 'material-list' activity.subject.id %}" class="btn btn-lg btn-outline-secondary shadow-sm"><i class="fas fa-arrow-left"></i> Back to Subject</a>
    </div>
  </form>

  <script src="{% static 'activity/grade/grade_essay.js' %}"></script>

  {% endblock %}
