<div id="addFriendModal" class="custom-modal">
  <div class="custom-modal-header">
    <h5>Add Friend</h5>
    <button class="close-btn" id="closeAddFriendModalBtn"></button>
  </div>

  <div class="custom-modal-body">
    <h6>Find Users</h6>

    <!-- Email Search Input -->
    <div class="search-container">
      <input type="text" id="searchEmail" class="form-control" placeholder="Enter email to search..." />
      <button class="btn btn-primary mt-2" onclick="openAddFriendModal()">Search</button>
    </div>

    <hr />

    <h6>Search Results</h6>
    <div id="userList">
      <!-- User list will be dynamically populated here -->
    </div>
  </div>
</div>
<div id="addFriendModalBackdrop" class="custom-modal-backdrop"></div>
